name: Check format

on:
  pull_request:
    branches:
      - "*"

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Get the project
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install development requirements
        run: uv sync --group lint

      - name: Check via pre-commit
        run: |
          uv run pre-commit install
          uv run pre-commit run --files $(git diff --name-only origin/${{ github.base_ref }}...origin/${{ github.head_ref }}) --show-diff-on-failure
